<div class="">
 <h1>Plot exploarer</h1>

<div class="allplots" id="classes2">
  {{#each dates}}
    <div data-id="{{this}}"> <h2>{{this}}</h2> <img src="/plotz/{{this}}_classes__2.png" /></div>
  {{/each}}
</div>

<div class="allplots" id="classes3">
  {{#each dates}}
    <div data-id="{{this}}"> <h2>{{this}}</h2> <img src="/plotz/{{this}}_classes__3.png" /></div>
  {{/each}}
</div>

<div class="allplots" id="classes4">
  {{#each dates}}
    <div data-id="{{this}}"> <h2>{{this}}</h2> <img src="/plotz/{{this}}_classes__4.png" /></div>
  {{/each}}
</div>

<div class="allplots" id="classes5">
  {{#each dates}}
    <div data-id="{{this}}"> <h2>{{this}}</h2> <img src="/plotz/{{this}}_classes__5.png" /></div>
  {{/each}}
</div>

<div class="allplots" id="classes6">
  {{#each dates}}
    <div data-id="{{this}}"> <h2>{{this}}</h2> <img src="/plotz/{{this}}_classes__6.png" /></div>
  {{/each}}
</div>
</div>
